%% -*- mode: Erlang; coding: utf-8 -*-
[
 {sutil, []
 },
 {lager,
  [{error_logger_hwm, 100}
  , {async_threshold, 20}
  , {crash_log, "log/crash.log"}
  , {crash_log_msg_size, 1024}
  , {crash_log_size, 10485760}
  , {crash_log_date, "$D0"}
  , {crash_log_count, 5}
  , {handlers,
     [
      {lager_console_backend,
       [debug, {lager_default_formatter, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}]}
     , {lager_file_backend, [{file, "log/error.log"}, {level, error}
                            , {size, 10485760}, {date, "$D0"}, {count, 5}
                            , {formatter, lager_default_formatter}
                            , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                            ]}
     , {lager_file_backend, [{file, "log/info.log"}, {level, debug}
                            , {size, 10485760}, {date, "$D0"}, {count, 5}
                            , {formatter, lager_default_formatter}
                            , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", {module, "?"}, ":", {line, "?"}, " ", message, "\n"]}
                            ]}

     ]}
  ]},
 {mnesia,
  [
    {dir, "mnesia_data"},
    {dump_log_write_threshold, 50000},
    {dc_dump_limit, 10}
   ]},
 {kernel,
  [{start_timer, true}]},
 {sasl,
  [{sasl_error_logger, false},
   {errlog_type, error}
  ]}
].
