{erl_opts, [debug_info
            %, fail_on_warning
           ]}.

% {require_otp_vsn, "R15"}.

{cover_enabled, true}. % meck don't like cover yet
{cover_print_enabled, true}.

{edoc_opts, [{doclet, asciiedoc_doclet}
            , {app_default, "http://www.erlang.org/doc/man"}
            , {src_path, ["src/"]}
            %%, {new, true}
            , {packages, false}
            %% , {stylesheet, ""} % don't copy stylesheet.css
            , {image, ""} % don't copy erlang.png
            ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.
{eunit_compile_opts, [%% {d, 'TEST'}
                     ]}.

{lib_dirs, ["deps", "apps"]}.

{deps, [
        {deepprops, ".*", {git, "git://github.com/keynslug/deepprops.git", {branch, "master"}}},
        {erlang_localtime, ".*", {git, "git://github.com/dmitryme/erlang_localtime.git", {branch, master}}},
        {plain_fsm, ".*", {git, "git://github.com/esl/plain_fsm.git", {branch, "master"}}},
        {plain_rpc, ".*", {git, "git@gitlab.maximal.im:eryx67/plain_rpc.git", {branch, "master"}}}
       ]}.

{sub_dirs, [
           ]}.

{post_hooks,
 [
 ]}.
